@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.transition_slow {
    transition: all 300ms linear !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative !important;
    width: 34px !important;
    height: 34px !important;
    top: 0% !important;
    left: auto !important;
    right: auto !important;
    margin: 0 !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: auto !important;
    height: auto !important;
}

.mySwiper {
    padding: 30px 15px !important;
}

.swiper-slide-thumb-active div {
    transform: scale(1.15) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
    background-color: #076787;
}

@media (min-width:576px) {
    .mySwiper {
            padding: 30px !important;
        }
}